@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

* {
  font-family: "Zen Kurenaido", sans-serif;
}

h2 {
  font-weight: bolder;
  color: #04adbf;
  text-shadow: -1px -3px 2px #56bf5d;
  font-size: 4.5rem !important;
}

.form-control:focus {
  border-color: #04adbf !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(34, 75, 36, 0.6) !important;
}

.card {
  box-shadow: -3px 3px 5px #56bf5d, 3px -3px 5px #04adbf;
}

.cardButton {
  box-shadow: -1px 1px 3px #56bf5d, 1px -1px 3px #04adbf;
}
.btn-success {
  background-color: #56bf5d !important ;
  border-color: #04adbf;
}

.container-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

.number-page {
  font-size: 3rem;
  color: white;
  padding: 0 1rem 0 1rem;
  margin: 0.25rem 1rem 0 1rem;
  background-color: dark;
  border-radius: 12px;
  box-shadow: -1px 1px 10px #56bf5d, 1px -1px 10px #04adbf;
}

#modal-1___BV_modal_footer_ {
  display: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: -1px 1px 5px #56bf5d, 1px -1px 5px #04adbf;
  color: #04adbf;
  align-items: center;
  height: 2.5rem;
}

footer img {
  filter: brightness(8);
  width: 50%;
  transition: 1s;
}

footer img:hover {
  width: 53%;
  filter: brightness(11);
}

.text-link {
  text-decoration: none;
  color: #04adbf;
  transition: 0.5s;
}
.text-link:hover {
  color: #56bf5d;
}
